/* $Id$ */

body { line-height: 1.25; }
a { text-decoration: underline; vertical-align: top; }
hr { background-color: silver; }

input { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius:3px; }
div { border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius:10px; }

address { color: gray; }
#codeID { float: left; }
#codeID a { color: gray; }
#codeTime { float: right; }

input[type=submit], input[type=button] {
    border: 1px solid black;
    border-collapse: collapse;
}
#login input[type=submit] {
    background-color: #6078AB;
    color: white;
    font-weight: bold;
}
div.span-icon {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}
#identity { float: right; }
#identity a { text-decoration: none; }
#login { float: right; clear: right; }
#status { float: left; text-align: center; width: 32px; }
#status img { vertical-align: middle; }
#title { float: left; }
#welcome { float: left; clear: left; }


.box { border-style: outset; }
.cleft { clear: left; }
.cright { clear: right; }
