# $Id$

# headers: HTTP Access-Control
Header set "Access-Control-Allow-Credentials" "true"
Header set "Access-Control-Allow-Methods" "GET, POST, PUT, DELETE, OPTIONS"

# headers: HTTP Caching
#Header set "Cache-Control" "no-store, no-cache, must-revalidate, post-check=0, pre-check=0"
#Header set "Pragma" "no-cache"

# headers: SPARQL
Header set "MS-Author-Via" "SPARQL"

# rewrite

RewriteEngine On
#RewriteMap lowercase int:tolower
#RewriteRule ^/(.*)$ /srv/clouds/${lowercase:%{SERVER_NAME}}/$1

RewriteCond %{REQUEST_METHOD} =GET [OR]
RewriteCond %{REQUEST_METHOD} =HEAD [OR]
RewriteCond %{REQUEST_METHOD} =OPTIONS
RewriteCond %{REQUEST_URI} !/common/
RewriteRule ^(.*)$ GET.php [L]

RewriteCond %{REQUEST_METHOD} =POST
RewriteCond %{HTTP:Content-Type} =application/sparql-query
RewriteRule ^(.*)$ SPARQL.py [L]

RewriteCond %{REQUEST_METHOD} =MKCOL [OR]
RewriteCond %{REQUEST_METHOD} =PATCH [OR]
RewriteCond %{REQUEST_METHOD} =POST [OR]
RewriteCond %{REQUEST_METHOD} =PUT [OR]
RewriteCond %{REQUEST_METHOD} =DELETE
RewriteRule ^(.*)$ %{REQUEST_METHOD}.php [L]

# drop all other Apache responses
#RewriteRule .* - [L,R=501]
